*{
box-sizing:border-box;
margin: 0;
padding: 0;

}
.container{
    max-width: 2000px;

   
    display:flex;
    flex-direction: column;
    gap:10px; 
} 
nav{
    background-color:rgb(4, 4, 56);
    display: flex;
    font-weight: bold;
    gap: 90px;
    padding: 40px;
    justify-content: end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    height: 130px;
    border-radius: 30px;
    
}

nav a{
text-decoration: none;
/* margin-right: 2em;  */
color: bisque;


}
/* nav a img{
    height: 75px;
    width: 100px;
    border-radius: 20%;
    object-fit: cover;
    /* border: 6px solid bisque; */
    /* margin-right: 300px;
    margin-bottom: 30px;
    padding-bottom:100px;  */
}

.hero-image2 img{
    height: 300px;
}


.hero{
    display:flex;
    justify-content: space-between;
    background-image: url('./image.com/herrrrrr.jpg');
    background-size: cover;
    
    align-items: center;
    height: 110vh;
    flex-wrap: wrap;
    padding: 100px;
    margin-bottom: none;
    border-radius: 30px;
}
.hero-text{
    max-width:500px;
}
.hero-text h1 {
    font-size: 2em; 
    text-shadow: 3px 3px rgb(4, 4, 56 ,) ;
    color: #000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 80px;
    
    
}
.hero-text p{
    margin-bottom: 500px;
    font-size: xx-large;
    display: flex;
    color: black;
    line-height: 1.6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
 footer{
    text-align: center;
    height: 100px;
    padding-top: 40px;
    border-radius: 30px;
    background-color:rgb(4, 4, 56) ;
}
.copyright{
    font-size: 20px;
    color: rgb(228, 225, 219);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-3{
height: 60px;
margin-top: 20px;
margin-left: 220px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: xx-large;
}

.container-3{
    width: 100%;
    background-color:rgb(19, 19, 49);
    margin: 0 auto;
    max-width: 1500px;
    height: 880px;
    padding: 25px 100px;
    border-radius: 40px;
}
.container-3 body{
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 50px;
}

.posts{
   display: flex;
   gap: 50px;
   flex-wrap: wrap; 
   justify-content: center;
}

.posts-card{
   flex-wrap: wrap;
   background-color: rgb(11, 11, 48); 
   border-radius: 50px;
   padding: 1.5rem;
   max-width: 280px;
   height: 350px;
   box-shadow: 0 0 4px white;
}
.post-content{
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: 10px;
    margin-left: 65px;
    font-size: x-large;
}
.posts-card img{
    width: 240px;
    height: 240px;
    border-radius: 30px;
    
}


.house{
    width: 100%;
    background-color:whitesmoke;
    margin: 0 auto;
    max-width: 1500px;
    height: 900px;
    padding: 25px 100px;
    border-radius: 40px;
}
.house body{
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 50px;
}

.categories-1{
   display: flex;
   gap: 50px;
   flex-wrap: wrap; 
   justify-content: center;
}

.building {
   flex-wrap: wrap;
   background-color: white; 
   border-radius: 50px;
   padding: 1.5rem;
   max-width: 280px;
   height: 400px;
   box-shadow: 0 0 4px black;
}
.building h6{
    font-size: 1rem;
    color: black;
    line-height: 1.5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: x-large;
}

.building p{
    font-size: 1rem;
    color: black;
    line-height: 1.5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: x-large;
}
.building img{
    width: 240px;
    height: 240px;
    border-radius: 30px;
}

.big{
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 600px;
    margin: 30px auto;
}
.duplexx{
    background-color: rgb(24, 24, 58);
    text-decoration: none;
    height: 4em;
    width: 35em;
    border-radius: 20px;
    color: bisque;
    padding-top: 20px;
    padding-left: 240px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

.bungalloww{
    background-color: rgb(24, 24, 58);
    text-decoration: none;
    height: 4em;
    width: 35em;
    border-radius: 20px;
    color: bisque;
    padding-top: 20px;
    padding-left: 240px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

.open-land{
    background-color: rgb(24, 24, 58);
    text-decoration: none;
    height: 4em;
    width: 35em;
    border-radius: 20px;
    color: bisque;
    padding-top: 20px;
    padding-left: 240px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

.aboutus{
   height: 1000px;
   max-width: 1500px; 
   background-color: black;
   border-radius: 40px;
   margin-top: 10px;
   padding-top: 20px;
}
.body{
    font-size: 1.4rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1000px;
    margin-top: 20px;
    margin-left: 170px;
    color: white;
}
h4{
    margin-left: 170px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color: bisque;
}
.aboutus p img{
    height: 350px;
    max-width: 700px;
    margin-left: 300px;
    margin-top: 70px;
}
.contact{
   margin-top: 40px;
}

.fname{
    margin-left: 190px;
    height: 40px;
    width: 600px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 20px;

}
label{
   margin-left: 400px;
   font-size: x-large;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.subb{
    margin-left: 890px;
    height: 40px;
    width: 90px;
    background-color: rgb(11, 11, 48);
    margin-bottom: 70px;
    color: white;
    border-radius: 5px;

}
.conimg{
    height: 600px;
    width: 800px;

}
a img{
    margin-left: 270px;
    margin-top: 50px;
    height: 400px;
    width: 800px;
    border-radius: 50px;
}
.termss{
   height: 1300px;
   max-width: 1500px; 
   background-color: grey;
   border-radius: 40px;
   margin-top: 10px;
   padding-top: 20px;
}
.one{
    font-size: 1.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1300px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}
.terminology{
    display: flex;
    max-width: 600px;
    margin-bottom: 70px;
    margin-left: 450px;
}
.conditions{
    background-color: rgb(24, 24, 58);
    text-decoration: none;
    height: 4em;
    width: 26em;
    border-radius: 20px;
    color: bisque;
    padding-top: 20px;
    padding-left: 140px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}








    



